{% extends "lernorte/layout.html" %}
{% load static %}

{% block body %}
<main class="container-fluid py-5 text-center">
  <div class="card-mb-3">
    <div class="card-header">
      <h3>Anleitung, um einen neuen Lernort hinzuzufügen</h3>
    </div>
          <h4>Generell</h4>
          <p class="card-text-boundary">
            Es ist möglich neue Lernorte hinzuzufügen, jedoch muss ich (Andri) jeweils die 
            Bilder und kml_files manuell hochladen um Kosten zu vermeiden. 
            Dazu sind folgende Schritte notwendig:
            </p>
            
            <h4>Anmelden</h4>
            <p class="card-text-boundary">
            Um einen neuen Lernort einzutragen, muss man sich zuerst auf der <a href="/admin/" target="_blank">Admin Seite</a> anmelden.
            Die Zugangsdaten hat ... oder können bei mir <a href="mailto:andri.seiz@rolv-nws.ch">andri.seiz@rolv-nws.ch</a> erfragt werden. 
            Nach der Anmeldung sollte folgende Seite erscheinen:
            </p>
            <div>
              <img src="{% static 'lernorte/Bilder_Anleitung/step1.png' %}" alt="Ups, Bild konnte nicht geladen werden" style="width: 80%; text-align: center;"/>
            </div>
            <hr>
            <h4>Eintrag in Datenbank "Lernorts"</h4>
            <p class="card-text-boundary">
              Auf der Admin Seite kann man mit einem Klick auf "Lernorts" und dann "ADD LERNORT" einen neuen Lernort eintragen.
            </p>
            <div>
              <img src="{% static 'lernorte/Bilder_Anleitung/step3.png' %}" alt="Ups, Bild konnte nicht geladen werden" style="width: 80%; text-align: center;"/>
            </div>
            <hr>
            <p class="card-text-boundary">
              Dazu braucht es folgende Angaben:
              <br>
              1. Name <b>Wichtig: Aus technischen Gründen sollte der Name ohne Leerzeichen und ohne ä, ö oder ü auskommen</b> (ich empfehle _ anstelle vom Leerzeichen)
              <br>
              2. Koordinaten: Dazu auf <a href="https://www.map.geo.admin.ch" target="_blank">map.geo.admin.ch</a>, einen Rechtsklick auf den Punkt, wo sich der Lernort befindet
              und die beiden Koordinaten bei <b>WGS 84</b> in die Koordinatenfelder eintragen.
            </p>
            <div>
              <img src="{% static 'lernorte/Bilder_Anleitung/step4.jpg' %}" alt="Ups, Bild konnte nicht geladen werden" style="width: 80%; text-align: center;"/>
            </div>
            <hr>
            <p class="card-text-boundary">
              3. Wegzeit in Minuten vom näheren Schulhaus aus. Tipp: Strecke auf <a href="https://www.map.geo.admin.ch" target="_blank">map.geo.admin.ch</a> ausmessen, und die dort angegebene Wegzeit x 1.2 rechnen.
              <br>
              4. Jeweils True oder False ob es folgende Dinge vor Ort hat -> entscheidet welche Symbole auf der Übersichtskarte angezeigt werden.
              <br>
              5. Für jedes Symbol ein kurzer Text (kann auch nur ein Wort sein)
              <br>
              6. Die Beschreibung vom Lernort
              <br>
              7. Eine kurze Wegbeschreibung
              <br>
              <br>
              Die Texte kommen auf der Webseite an folgende Orte:
            </p>
            <div>
              <img src="{% static 'lernorte/Bilder_Anleitung/step5.png' %}" alt="Ups, Bild konnte nicht geladen werden" style="width: 80%; text-align: center;"/>
            </div>

            <hr>

            <h4>Bilder</h4>
            <p class="card-text-boundary">
              Am besten 3 Bilder (könne auch weniger sein) an <a href="mailto:andri.seiz@rolv-nws.ch">andri.seiz@rolv-nws.ch</a> senden,
              dann werde ich diese Hochladen. Gleichzeitig werde ich dann gleich den Lernort auf der Übersichtskarte verlinken.
              Um diese Webseite Gratis ins Internet zu stellen, musste ich diesen abstrich machen.
            </p>
            <hr>
            <h4>eingezeichneter Weg (kml Datei)</h4>
            <p class="card-text-boundary">
              Um den Weg auf der Karte anzuzeigen, braucht die Webseite eine KML Datei. Diese kann man auf <a href="https://www.map.geo.admin.ch" target="_blank">map.geo.admin.ch</a> erstellen.
              Dazu auf "Zeichnen & Messen auf der Karte", dann auf "Messen" und die Strecke zeichnen. Mit einem Doppelklick wird die Messung beendet und ein Profil angezeigt (Da steht auch eine Schätzung der Wegzeit).
              Danach auf "Exportieren" und schon wird eine KML Datei heruntergeladen. Diese auch an <a href="mailto:andri.seiz@rolv-nws.ch">andri.seiz@rolv-nws.ch</a> senden.
            </p>

            

      
  </div>
  </div>
{% endblock %}