{% extends "lernorte/layout.html" %}
{% load static %}

{% block body %}
  <main class="container-fluid py-5 text-center">
    <div class="card-header">
        <h3>Karte</h3>
      </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe 
        src='https://map.geo.admin.ch/embed.html?lang=de&topic=ech&bgLayer=ch.swisstopo.pixelkarte-farbe&layers=ch.swisstopo.zeitreihen,ch.bfs.gebaeude_wohnungs_register,ch.bav.haltestellen-oev,ch.swisstopo.swisstlm3d-wanderwege,ch.astra.wanderland-sperrungen_umleitungen,KML%7C%7Chttps:%2F%2Fandrise4274.github.io%2Ffuellinsdorf-umgebung%2Fkmlstand31052024.kml&layers_opacity=1,1,1,0.8,0.8,1&layers_visibility=false,false,false,false,false,true&layers_timestamp=18641231,,,,,&E=2622455.59&N=1261662.09&zoom=6'
        width='80%'
        height='600' 
        frameborder='0' 
        style='border:0' 
        allow='geolocation'></iframe>
      </div>
  </main>

  <footer class="mb-5 small text-center text-muted">
    Karte von <a href="https:www.map.geo.admin.ch">map.geo.admin.ch</a>
  </footer>
{% endblock %}